/* ------------------------ Imagem Perfil ------------------------ */
.pefil-img {
    border: 2px solid #f7ab07;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

figure.pefil-notificacao {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    position: relative;
}

figure.pefil-notificacao img {
    width: 40px;
    height: 40px;
}

figure.pefil-notificacao figcaption {
    position: absolute;
    right: 0;
    top: 0;
    font: 300 16px Arial, sans-serif;
    color: #fff;
    background-color: red;
    padding: 0px 4px 0px 4px;
    border-radius: 5px;
}

/* ------------------------ Imagem Perfil ------------------------ */
.pefil-img {
    border: 2px solid #f7ab07;
    border-radius: 50px;
    width: 50px;
    height: 50px;
}

figure.pefil-notificacao {
    width: 40px;
    height: 40px;
    margin-left: 10px;
    position: relative;
}

figure.pefil-notificacao img {
    width: 40px;
    height: 40px;
}

figure.pefil-notificacao figcaption {
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    font: 300 16px Arial, sans-serif;
    color: #fff;
    background-color: red;
    padding: 0px 4px 0px 4px;
    border-radius: 5px;
}

/* ------------------------ Admin Icon ------------------------ */
.link-perfil {
    padding-left: 2px;
    font: 300 18px Arial, sans-serif;
    color: #f7ab07;
    text-decoration: none;
}

.link-perfil:hover {
    color: #ffc700;
    text-decoration: underline;
}

.imagem-post {
    float: left;
    padding: 0px 5px 0px 0px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
}

.icon-perfil {
    width: 15px;
    height: 15px;
}

figure.admin-icon {
    position: relative;
    float: left;
    height: 40px;
    width: 45px;
}

figure.admin-icon figcaption {
    position: absolute;
    right: -2px;
    top: -2px;
    background-color: #333;
    border-radius: 10px;
    padding: 3px 3px 0px 3px;
}

/* ------------------------ Minuatura Perfil ------------------------ */
.icon-perfil-coroa {
    float: right;
    position: absolute;
    right: -10px;
    top: 0;
    background-color: #333;
    border-radius: 10px;
    padding: 2px;
}

.pefil-minuatura-img {
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

figure.pefil-miniatura figcaption img {
    width: 40px;
    height: 40px;
}

figure.pefil-miniatura {
    margin: 10px;
    float: left;
    height: 80px;
    position: relative;
}

figure.pefil-miniatura figcaption {
    position: absolute;
    bottom: 0;
}

figure.pefil-miniatura figcaption a {
    font: 300 16px Arial, sans-serif;
    color: #fff;
    float: left;
    max-width: 10ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

figure.pefil-miniatura figcaption input[type="submit"] {
    text-align: center;
    font: 300 16px Arial, sans-serif;
    color: #fff;
    border: none;
    padding: 2px;
    width: 80px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.6);
}

figure.pefil-miniatura figcaption input[type="submit"]:hover {
    color: #f7ab07;
}

#botao-img-perfil {
    display: none;
}

/* ------------------------ Box Perfil ------------------------ */
.icon-conquistas {
    background-color: rgba(0,0,0,0.5);
    padding: 10px 2px 10px 2px;
    float: left;
    margin: 5px;
    border-radius: 10px;
    text-align: center;
}

#icon-seguir {
    font: 600 18px Arial, sans-serif;
    color: #FFF;
    border: none;
    background-color: #f7ab07;
    padding: 10px 2px 10px 2px;
    float: left;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#icon-seguir:hover {
    cursor: pointer;
    transition: 0.4s ease-out;
    background-color: #333;
}

#icon-desseguir {
    font: 600 18px Arial, sans-serif;
    color: #FFF;
    border: none;
    background-color: darkred;
    padding: 10px 2px 10px 2px;
    float: left;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

#icon-desseguir:hover {
    cursor: pointer;
    transition: 0.4s ease-out;
    background-color: #333;
}

/* ------------------------ Mensagens ------------------------ */
#box-mensagens-perfil {
    padding: 10px;
    margin: 0px auto;
    width: 490px;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
    background-color: rgba(0,0,0,0.5);
}

.excluir-recado{
    float: right;
    margin: -10px 0px 10px 0px;
}

#box-mensagens-perfil b {
    font: 600 16px Arial, sans-serif;
    color: #fcfcfc;
    padding: 5px;
}

#box-mensagens-perfil textarea {
    font: 600 15px Arial, sans-serif;
    color: #333;
	resize: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    height: 40px;
    margin: 5px;
    width: 95%;
}

#box-mensagens-perfil input[type="submit"] {
    font: 600 15px Arial, sans-serif;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    background-color: #f7ab07;
}

#box-mensagens-perfil input[type="submit"]:hover {
    background-color: rgba(0,0,0,0.5);
}

#box-menus-perfil {
    padding: 5px;
    margin: 15px auto;
    width: 500px;
    height: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
    background-color: rgba(0,0,0,0.5);
}

#box-menus-perfil a {
    font: 600 16px Arial, sans-serif;
    color: #fcfcfc;
    padding: 5px;
}

#box-perfil {
    padding: 5px;
    margin: 15px auto;
    width: 500px;
    height: 135px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
    background-color: rgba(0,0,0,0.5);
}

#box-perfil p {
    font: 300 18px Arial, sans-serif;
    color: #fcfcfc;
    padding: 0px 0px 0px 10px;
}

#box-perfil h1 {
	font: 300 25px Arial;
	color: #fff;
    padding: 5px 0px 0px 10px;
}

#box-perfil img {
    float: left;
}

#box-perfil a {
    font: 300 16px Arial, sans-serif;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 5px;
}

#box-perfil a:hover {
    color: #f7ab07;
}

/* ------------------------ Box Perfil Info ------------------------ */
#box-perfil-info {
    margin-top: 10px;
    font: 300 18px Arial, sans-serif;
    color: #fff;
    float: right;
    width: 75%;
}

.menu input[type="submit"] {
    display: none;
}


/* ------------------------ Alterar Perfil ------------------------ */
#box-perfil-info a.bt-deletar {
    background-color: firebrick;
    font: 300 18px Arial, sans-serif;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 8px;
    margin: 10px 0px 10px 0px;
    float: left;
}

#box-perfil-info a.bt-deletar:hover {
    transition: 0.4s ease-out;
    background-color: #333;
    cursor: pointer;
}

#box-perfil-info a {
    background-color: rgba(0,0,0,0);
    padding: 0px;
    margin: -5px 5px;
    float: right;
}

#box-perfil-info p {
    float: left;
}

#box-perfil-info input[type="text"] {
    font: 300 18px Arial, sans-serif;
	float: left;
	height: 20px;
	width: 60%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#box-perfil-info input[type="password"] {
    font: 300 18px Arial, sans-serif;
	float: left;
	height: 20px;
	width: 60%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 5px 0px 5px 0px;
}

#box-perfil-info select {
	float: left;
    font: 300 16px sans-serif, Arial;
    color: #333;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

#box-perfil-info input[type="submit"] {
    font: 600 15px Arial, sans-serif;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    float: left;
    width: 60%;
    margin: 5px 10px 0px 0px;
    background-color: #f7ab07;
}

#box-perfil-info input[type="submit"]:hover {
    background-color: rgba(0,0,0,0.5);
    cursor: pointer;
}


@media all and (max-width: 480px) {

    #box-mensagens-perfil textarea {
        width: 90%;
    }

    #box-mensagens-perfil {
        width: 90%;
    }
    
    .icon-conquistas {
        margin: 2px;
    }
    
    #box-menus-perfil {
        width: 95%;
    }
    
    #box-perfil-info {
        font: 300 12px Arial, sans-serif;
        width: 80%;
    }
    
    #box-perfil {
        width: 95%;
    }
}