/* ------------------------ Formularios ------------------------ */
input[type="text"] {
    font: 300 16px Arial, sans-serif;
	height: 20px;
	width: 85%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

input[type="password"] {
    font: 300 16px Arial, sans-serif;
	height: 20px;
	width: 85%;
    padding: 8px;
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #ccc;
}

input[type="radio"] {
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

input[type="submit"] {
    font: 600 18px Arial, sans-serif;
    color: #FFF;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: #f7ab07;
}

input[type="submit"]:hover {
    transition: 0.4s ease-out;
    background-color: #333;
    cursor: pointer;
}

select {
    font: 300 16px sans-serif, Arial;
    color: #333;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.select-style {
    margin-left: 10px;
}