/* ------------------------ Padrao Corpo ------------------------ */
* {
	padding: 0px;
	margin: 0px;
}

body {
	background-color: #fcfcfc;
}

div {
    display: none;
}

img[src*="https://cdn.rawgit.com/000webhost/logo/e9bd13f7/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

body::-webkit-scrollbar {
    width: 0.5em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
}
 
body::-webkit-scrollbar-thumb {
    background-color: #f7ab07;
    outline: 1px solid #c6c6c6;
    border-radius: 5px;
}

/* ------------------------ SELO ------------------------ */
.selo {
    z-index: 9999;
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 10px;
}

/* ------------------------ Cabecalho ------------------------ */
#cabecalho {
    text-align: center;
    min-height: 100px;
    background-color: #f7ab07;
    border-bottom: 5px solid rgba(0,0,0,0.3);
}

#cabecalho  h1 {
	font: 600 35px Arial;
	color: #fff; 
}

#cabecalho  p {
	font: 600 18px Arial;
	color: #fcfcfc;
    padding: 5px;
}

#cabecalho a {
    text-decoration: none;
}

#cabecalho img {
    margin-top: 10px;
}

/* ------------------------ Menu ------------------------ */
.menu {
    z-index: 9999;
    background-color: #fcfcfc;
    height: 40px;
    width: 100%;
    position: fixed;
    border-bottom: 2px solid #f7ab07;
}

.menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu li a {
    font: 300 18px Arial, sans-serif;
    color: #f7ab07;
    display: block;
    text-decoration: none;
    float: left;
    padding: 10px 10px;
}

.menu li a:hover {
    color: #333;
}

/* ------------------------ Sub Menu ------------------------ */
.menu li ul {
    position:absolute; 
    list-style: none;
    justify-content: center;
    background-color:#fcfcfc; 
    display:none;
    top: 40px;
    margin-left: -40px;
}

.menu li:hover ul, .menu li.over ul {
    display:block;
}

.menu li ul li {
    border:1px solid #333;  
    display:block; 
    width:auto;
}

/* ------------------------ Buscar ------------------------ */
.busca-result {
    text-align: center;
    font: 600 20px Arial, sans-serif;
    color: #333;
}

input[type="search"] {
    margin: 5px;
    font: 600 16px Arial, sans-serif;
    color: #333;
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #f7ab07;
}

/* ------------------------ Links ------------------------ */
a {
    font: 300 18px Arial, sans-serif;
    text-decoration: none;
    color: #f7ab07;
}

a:hover {
    color: #ffcc00;
}

/* ------------------------ Links Paginacao ------------------------ */
.link-pag {
    margin: 0 auto;
    text-align: center;
}

.link-pag a {
    text-decoration: none;
    font: 600 18px Arial, sans-serif;
    color: #f7ab07;
    background-color: #fcfcfc;
    border-radius: 10px;
    box-shadow: 1px 1px 5px #ccc;
    padding: 5px 10px 5px 10px;
}

.link-pag a:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.6);
}

.link-pag-recados {
    margin: 0 auto;
    text-align: center;
}

.link-pag-recados a {
    text-decoration: none;
    font: 600 18px Arial, sans-serif;
    color: #f7ab07;
    background-color: #333;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.link-pag-recados a:hover {
    color: #fff;
    background-color: rgba(0,0,0,0.6);
}

/* ------------------------ CONFIG GERAL ------------------------ */
p {
    font: 300 18px Arial, sans-serif;
}

h1 {
    font: 600 20px Arial, sans-serif;
    color: #333;
}

label {
    font: 300 18px sans-serif, Arial;
    color: #333;
    padding: 10px;
}

hr {
    margin: 0px 10px 10px 10px;
}

/* ------------------------ Box - POPUP ------------------------ */
.box-popup {
    z-index: 9999;
    background-color: #fcfcfc;
    position: fixed;
    top: 20%;
    left: 50%;
    margin-left: -210px; 
    height: auto;
    width: 400px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #333;
    padding: 10px;
}

.box-popup b {
    padding: 5px;
    top: 0;
    right: 0;
    position: absolute;
    float: right;
}

.box-popup b a {
    font: 600 20px Arial, sans-serif;
    text-decoration: none;
    color: #f7ab07;
}

.box-tutorial b a:hover {
    color: #333;
}

.box-tutorial img {
    border-radius: 5px;
    height: 140px;
    width: 100%;
}

.box-popup-f {
    z-index: 9;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
}

#box-popup-fundo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ------------------------ Box - Emojis ------------------------ */
#bt-fechar-emojis {
    display: none;
}

#box-img img {
    margin: 5px 0px 0px 5px;
    float: left
}

span {
    padding: 0px 5px 0px 5px;
}

span:hover {
    cursor: pointer;
}

#bt-fechar-emojis {
    float: right;
}

#box-emojis-select hr {
    margin: 5px;
}

#box-emojis-select {
    margin-top: 35px;
    display: none;
    z-index: 999;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
    background-color: #fcfcfc;
    width: 220px;
    height: auto;
}

figure.box-emojis {
    position: relative;
}

figure.box-emojis figcaption {
    right: 3%;
    top: 25px;
    position: absolute;
}

figure.box-emojis img {
    height: 30px;
    height: 30px;
}

/* ------------------------ Box - GERAL ------------------------ */
#box-geral {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ------------------------ Box - DESIGN ------------------------ */
.box-design {
    text-align: center;
	margin: 15px;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    box-shadow: 0px 0px 5px #d6d6d6;
}

/* ------------------------ Box - LOGIN ------------------------ */
#box-login {
    width: 30%;
    height: auto;
}

#box-login img {
    padding: 10px;
}

/* ------------------------ Box - USER LOGIN ------------------------ */
#box-user-login {
    width: 30%;
    height: auto;
}

#box-user-login img {
    border-radius: 100px;
    height: 70px;
    width: 70px;
    border: 2px solid #f7ab07;
}

#recuperar-senha-box2 {
    width: 30%;
}

#recuperar-senha-box2 input[type="password"] {
    float: none;
}

#recuperar-senha-box2 input[type="text"] {
    float: none;
}

#recuperar-senha-box2 input[type="submit"] {
    float: none;
}

/* ------------------------ Box - SEGUIDORES ------------------------ */
.barra-seguidores {
    height: 230px;
    width: auto;
    overflow: auto;
    text-align: center;
}

.barra-seguidores img {
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 100px;
    border: 2px solid #f7ab07;
}

.barra-seguidores h1 {
    height: 60px;
    margin-bottom: 5px;
    border-bottom: 1px solid #f7ab07;
}

a.nick-seguir {
    padding: 10px 0px 0px 10px;
    float: left;
    text-decoration: none;
    font: 600 18px Arial, sans-serif;
    color: #ffaa00;
}

.barra-seguidores a:hover {
    color: #333;
}

/* ------------------------ Box - COMENTARIOS ------------------------ */
#box-comentarios textarea {
    float: left;
	resize: none;
    width: 55%;
    margin: 10px 0px 0px 10px;
    height: 30px;
    border: none;
    border: 1px solid #ccc;
    border-radius: 5px;
    font: 300 18px Arial, sans-serif;
    color: #333;
    padding: 5px;
}

#box-comentarios h1 {
    padding: 5px 0px 0px 10px;
}

.botao-comentar {
    margin: 10px;
    width: 25%;
}

.avatar-perfil {
    float: left;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    border: 2px solid #f7ab07;
    margin: 5px 0px 0px 0px;
}

.avatar-comentar {
    float: left;
    height: 45px;
    width: 45px;
    border-radius: 100px;
    border: 2px solid #f7ab07;
    margin: 3px 10px 0px 0px;
}

.comentarios-post {
    height: auto;
    word-wrap: break-word;
    border: 1px solid rgba(0,0,0,0);
}

.comentarios-post p {
    margin-left: 40px;
    margin-top: -35px;
}

.excluir-comentario {
    float: right;
    margin-top: -40px;
}

.ocultar {
    display: none;
}

/* ------------------------ Box ------------------------ */
.botao-postar {
    width: 90%;
}

.box-mensagem {
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
    width: 50%;
    height: 100%;
}

.box-cadastro {
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin: 15px auto;
    width: 30%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
}

.box-recuperar {
    text-align: center;
    padding: 5px 0px 5px 0px;
    margin: 15px auto;
    width: 35%;
    height: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;  
}

#box-info {
    padding: 15px;
    margin: 15px auto;
    width: 80%;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
}

#box-postagens {
    padding: 5px;
    margin: 15px auto;
    width: 500px;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
}

#box-postagens p {
    font: 300 18px Arial, sans-serif;
    color: #333;
    padding: 20px;
}

#box-postagens h1 {
	font: 300 19px Arial;
	color: #2b2b2b;
}

#box-postagens a {
    text-decoration: none;
}

.botao-evniar-perfil {
    cursor: pointer;
}

/* ------------------------ Box Frase ------------------------ */
#box-enviar-poster {
    margin: 15px auto;
    width: 510px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
    border: 1px solid #bababa;
}

.menu-box {
    width: 100%;
    height: 30px;
    background-color: #f7ab07;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.menu-box ul {
    list-style: none;
}

.menu-box li a {
    padding: 5px 10px;
    float: left;
    font: 300 18px sans-serif, Arial;
    text-decoration: none;
    color: #fff;
}

.menu-box li a:hover {
    color: #333;
}

#box-enviar-poster textarea {
    float: left;
	resize: none;
    margin: 5px 10px 5px 10px;
    width: 95%;
    border: none;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#box-enviar-poster p {
    font: 300 16px Arial, sans-serif;
    color: #fff;
    float: left;
    max-width: 18ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

#box-frase {
    display: block;
	font: 300 16px Arial;
	padding: 10px 0px 5px 5px;
	width: 320px;
    height: 38px;
}

/* ------------------------ Botao Imagens/Files ------------------------ */
input[type='file'] {
    display: none;
}

#box-enviar-poster label {
    float: left;
    font: 300 16px Arial, sans-serif;
    background-color: #f7ab07;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    margin: 10px 0px 0px 10px;
}

#box-enviar-poster label:hover {
	transition: 0.3s ease-out;
	background-color: rgba(0,0,0,0.8);
}

/* ------------------------ Botao Postar ------------------------ */
#box-enviar-poster input[type="text"] {
	height: 22px;
	width: 140px;
    border: none;
    padding: 5px;
    margin-left: 5px;
    border-bottom: 1px solid #ccc;
    background-color: none;
    font-weight: 600;
    color: #333;
    font-size: 18px;
}

#box-enviar-poster input[type="submit"] {
    font: 300 18px Arial;
	color: #fff;
	float: right;
	height: 35px;
	width: 100px;
	margin: 9px 10px 0px;
    padding: 5px 2px 5px 2px;
    border-radius: 5px;
}

#box-enviar-poster input[type="submit"]:hover {
	transition: 0.3s ease-out;
	background-color: rgba(0,0,0,0.8);
}

/* ------------------------ Avisos ------------------------ */
#box-avisos {
    padding: 5px;
    margin: 15px auto;
    width: 500px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
    background-color: rgba(68, 255, 186, 0.3);
}

#box-avisos.cor-erro {
    background-color: rgba(224, 6, 6, 0.3);
    color: #fff;
}

#box-avisos h1 {
    padding: 5px 0px 0px 5px;
	font: 600 18px Arial;
    color: #36bc05;
}

#box-avisos h1.cor-erro {
    color: #e00606;
}

#box-avisos a {
	font: 600 20px Arial;
	color: #333;
    float: right;
    margin: -25px 5px 0px 5px;
}

#box-avisos a:hover {
	color: #FFF;
}

/* ------------------------ Postagens ------------------------ */
#box-postagens {
    border: 1px solid #bababa;
    padding: 5px;
    margin: 15px auto;
    width: 500px;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
}

#box-postagens p {
    font: 300 18px Arial, sans-serif;
    color: #333;
    padding: 20px;
}

#box-postagens h1 {
	font: 300 19px Arial;
	color: #2b2b2b;
}

#box-postagens a {
    text-decoration: none;
}

.menu-poster {
    height: 40px;
    width: 100%;
}

.menu-poster ul {
    display: flex;
    list-style: none;
}

.menu-poster li a {
    font: 300 18px Arial, sans-serif;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
    padding: 5px 15px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 50px;
}

.menu-poster li a.bt-facebook {
    background-color: #044b96;
}

.menu-poster li a.bt-facebook:hover {
    background-color: #3b5998;
}

.menu-poster li a:hover {
    color: #f7ab07;
    background-color: rgba(0,0,0,0.7);
}

.menu-poster img {
    height: 20px;
    width: 20px;
}

.menu-poster ul fb {
    float: left;
    padding: 5px;
}

.emoji-img {
    transform: scaleX(-1); 
}

/* ------------------------ Box Regras ------------------------ */
#box-regras {
    border: 1px solid #bababa;
    padding: 5px;
    margin: 15px auto;
    width: 500px;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
    background-color: rgba(0,0,0,0.5);
}

#box-regras p {
    font: 300 18px Arial, sans-serif;
    color: #fcfcfc;
    padding: 0px 0px 0px 10px;
}

#box-regras h1 {
	font: 300 25px Arial;
	color: #fff;
    padding: 5px 0px 0px 10px;
}

.menu-regras {
    padding: 30px;
}

.menu-regras li {
    font: 300 18px Arial, sans-serif;
    color: #fcfcfc;
}

/* ------------------------ Imagens Upload ------------------------ */
.img-poster {
    text-align: center;
}

.img-poster img {
    border-radius: 10px;
    min-height: 350px;
    max-height: 800px;
    width: 95%;
    margin: 5px 0px 5px 0px;
    border: 1px solid #333;
}

/* ------------------------ Videos Upload ------------------------ */
.video-poster {
    text-align: center;
    border-radius: 5px;
    min-height: 300px;
    max-height: 500px;
    width: 95%;
    padding: 5px;
    margin: 5px 0px 5px 5px;
    border: 1px solid #333;
}

/* ------------------------ Videos Play ------------------------ */
figure.poster-video-play {
    position: relative;
}

figure.poster-video-play figcaption {
    text-align: center;
    padding: 10px;
    top:45%;
    left:48%;
    margin-top:-50px;
    margin-left:-75px;
    position: absolute;
}  

.meme-legenda-video {
    text-align: center;
    top: -55%;
    left: -105%;
    width: 480px;
    position: absolute;
    font-family: sans-serif, Arial;
    font-size:  30px;
    color: #FFF;
    text-shadow: 2px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}  

/* ------------------------ Imagens MEME ------------------------ */
figure.meme-legenda {
    font-family: sans-serif, Arial;
    font-size:  30px;
    position: relative;
    text-align: center;
    color: #FFF;
}

figure.meme-legenda img {
    border-radius: 10px;
    min-height: 350px;
    max-height: 800px;
    width: 95%;
    margin: 5px 0px 5px 0px;
    border: 1px solid #333;
}

figure.meme-legenda figcaption h3 {
    text-align: center;
    padding: 10px;
    top: 0px;
    width: 90%;
    word-wrap: break-word;
    position: absolute;
    text-shadow: 2px 0 0 #000, -3px 0 0 #000, 0 3px 0 #000, 0 -3px 0 #000, 2px 2px #000, -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000;
}  

/* ------------------------ Rodape ------------------------ */
footer {
    float: left;
    position: absolute;
    text-align: center;
    color: #333;
    width: 100%;
    height: auto;
    margin: 20px 0px;
}

footer img {
    margin: 0px 5px 0px 5px;
}