/* ------------------------ TOPICOS ------------------------ */
#topicos-box {
    padding: 5px;
    margin: 15px auto;
    width: 500px;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #ccc;
}

#topicos-box p {
    font: 600 20px Arial, sans-serif;
    color: #FFF;
    background-color: #f7ab07;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 10px;
}

#topicos-box a {
    text-decoration: none;
    font: 600 18px Arial, sans-serif;
    color: #333;
    padding: 0px 5px 0px 5px;
    border-radius: 10px;
}

#topicos-box a:hover {
    background-color: rgba(0,0,0,0.8);
    color: #fff;
}

/* ------------------------ Mobile ------------------------ */
@media all and (max-width: 480px) {

    #topicos-box {
        width: 95%;
    }

}
