/* ------------------------ Mobile ------------------------ */
@media all and (max-width: 1080px) {
    
    .box-cadastro {
        width: 80%;
    }
    
    .box-mensagem {
        width: 95%;
    }
    
    /* ------------------------ Box - LOGIN ------------------------ */
    #box-login {
        width: 40%;
    }

    /* ------------------------ Box - USER LOGIN ------------------------ */
    #box-user-login {
        width: 40%;
    }

}

@media all and (max-width: 768px) {
    
    /* ------------------------ SELO ------------------------ */
    .selo {
        display: none;
    }
    
    #BETA p {
        font-size: 16px;
    }
    
    figure.box-slide-info {
        display: none;
    }
    
    #box-geral {
        display: block;
    }
    
    /* ------------------------ Box - DESIGN ------------------------ */
    .box-design {
        padding: 0px;
        margin: 15px 0px 15px 0px;
    }
    
    /* ------------------------ Box - LOGIN ------------------------ */
    #box-login {
        width: 99%;
    }

    /* ------------------------ Box - USER LOGIN ------------------------ */
    #box-user-login {
        width: 99%;
    }
    
    #recuperar-senha-box2 {
        width: 99%;
    }
    
}

@media all and (max-width: 480px) {
    
    .box-popup {
        left: 0;
        width: 95%;
        height: auto;
        margin-left: 0px; 
    }
    
    #box-comentarios textarea {
        width: 30%;
    }
    
    .botao-comentar {
        width: 95%;
    }

    .link-pag-recados a {
        font: 600 16px Arial, sans-serif;
    }
    
    #box-comentarios textarea {
        width: 70%;
    }
    
    #box-seguidores {
        top: 300px;
        width: 95%;
        margin-left: 0px;
    }
    
    #box-perfil-info select {
        font: 300 12px Arial, sans-serif;
    }

    #box-perfil-info input[type="submit"] {
        font: 600 15px Arial, sans-serif;
        color: #FFF;
        border: none;
        border-radius: 5px;
        padding: 10px;
        float: left;
        width: 60%;
        margin: 5px 10px 0px 0px;
        background-color: #f7ab07;
    }

    #box-info p {
        font-size: 16px;
    }
    
    figure.box-emojis figcaption {
        right: 15px;
        top: 25px;
        position: absolute;
    }
    
    .box-cadastro {
        width: 100%;
    }
    
     .icon-conquistas {
        margin: 2px 5px 0px 0px;
    }
    
    .icon-conquistas b {
        font: 300 12px Arial, sans-serif;
    }
    
    .meme-legenda-video {
        text-align: center;
        top: -50%;
        left: -22%;
        max-width: 235px;
        position: absolute;
        font-size:  20px;
        color: #FFF;
    }  

    #box-perfil-info {
        font: 300 16px Arial, sans-serif;
        width: 60%;
    }
    
    #box-perfil {
        width: 95%;
    }
    
    figure.meme-legenda {
        font-size:  25px;
    }

    .popup-lc input[type="submit"] {
        font: 300 16px sans-serif, Arial;
        width: 45%;
    }
    
    .popup-fundo {
        width: auto;
        height: 230px;
    }

    .menu-opcoes li a {
        font: 300 16px sans-serif, Arial;
        padding: 10px 10px;
    }
    
    #box-enviar-poster input[type="text"] {
        width: 120px;
    }
    
    .img-poster img {
        min-height: 200px;
    }
    
    #box-enviar-poster {
        text-align: center;
        width: 95%;
        height: 200px;
    }

    #box-frase {
        width: 90%;
    }

    #box-postagens {
        width: 95%;
    }
    
    #box-avisos {
        width: 95%;
    }
    
    #box-enviar-poster textarea {
       width: 91%; 
    }
    
    #box-avisos h1 {
        font: 300 16px Arial;
    }

    #box-regras {
        width: 95%;
    }
    
    #box-regras p {
        font: 300 16px Arial, sans-serif;
    }

    #box-regras h1 {
        font: 300 20px Arial;
    }
    
    #box-enviar-poster label {
        font: 300 16px Arial, sans-serif;
    }
    
    #box-postagens p {
        font: 300 15px Arial, sans-serif;
    }
    
    #box-postagens h1 {
        font: 300 16px Arial;
    }
    
    /* ------------------------ Menu ------------------------ */
    .menu li a {
        font: 300 16px Arial, sans-serif;
        padding: 10px 5px;
    }
    
    .meu-nick {
        display: none;
    }
    
}

@media all and (max-width: 320px) {
    
    #box-emojis-select {
        top: 50%;
    }
    
}