/* ------------------------ NOTICICACOES ------------------------ */
#popup-notificacoes {
    background-color: #fcfcfc;
    position: absolute;
    position: fixed;
    top: 45px;
    display: none;
    height: 200px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px #333;
}

#popup-notificacoes h1 {
    font: 600 18px Arial, sans-serif;
    color: #333;
    text-align: center;
    padding: 10px 0px 0px 0px;
}

#bt-notificacoes-f {
    display: none;
}

.barra-notificacoes {
    height: 160px;
    width: 100%;
    overflow: auto;
}

.barra-notificacoes img {
    float: left;
    padding: 10px;
    height: 40px;
    width: 40px;
}

.barra-notificacoes p {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #f7ab07;
}

.barra-notificacoes a {
    text-decoration: none;
    font: 300 18px Arial, sans-serif;
    padding: 5px 0px 0px 0px;
    color: #FFF;
    float: left;
}

.barra-notificacoes a:hover {
    color: #f7ab07;
}

.barra-notificacoes::-webkit-scrollbar {
    width: 0.5em;
}
 
.barra-notificacoes::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
}
 
.barra-notificacoes::-webkit-scrollbar-thumb {
    background-color: #f7ab07;
    outline: 1px solid #c6c6c6;
    border-radius: 5px;
}

/* ------------------------ Mobile ------------------------ */
@media all and (max-width: 480px) {
    
    #popup-notificacoes {
        width: 90%;
    }
    
    .barra-notificacoes a {
        font: 300 13px Arial, sans-serif;
    }

}